body { 
    margin: 0; 
    background-color: rgb(0, 0, 0);
    height:100%;
} 
nav { 
    width: 100%; 
    
} 
ul { 
    margin: 0; 
    padding: 0; 
} 
li { 
    float: left; 
    margin: 0; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    font-size: 30px; 
    width: 12%; 
    list-style: none; 
    text-align: center; 
} 
a { 
    color: rgb(255, 255, 255); 
    text-decoration: none; 
} 
img { 
    width: 160px 
    
} 
#image { 
    width: 160px 
} 
#blankSpace { 
    width: 16%; 
    height: 34px; 
} 
homebbtn {
    width: 200px;
    height: 200px;
}
cdrom {
    width: 200px;
    height: 200px;
}
aboutbbtn {
    width: 200px;
    height: 200px;
}
suggestionbox {
    width: 200px;
    height: 200px;
}
.container {
    h2{
        background: rgb(192, 191, 191);
            width: 60%;
            height:max-content;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 200px;
            border: 10px solid rgb(80, 5, 5);
            border-top-left-radius: 70px;
            padding: 50px;
            font-family: Changa;
            border-bottom-right-radius: 70px;
    }
}